{% extends 'layouts/base.html' %}

{% block content %}

    <h1>Tasks</h1>
    <a href="{% url 'new_task' %}">New Task</a>
    <div></div>

    {% for task in tasks %}
    
        <a href="{% url 'task' task.id %}">
            <h3>{{task.title}}</h3>
        </a>
        <p>{{task.description}}</p>
        <p>{{task.creation_date|date:'M j Y'}}</p>
        {% if task.importance %}
            <div><strong>Importante</strong></div>
        {% endif %}

        {% if task.finish_date == None %}
            <span><strong>No finalizado</strong></span>
        {% else %}
            <span><strong>Finalizado</strong></span>
        {% endif %}

    
    {% endfor %}

{% endblock %}